<h1>Highscores</h1>
<p style="font-size:13px;">
  This highscore page can very easily be hacked, so I hope no-one does it.<br />
  You can choose to list only highscores with your own name (case sensitive). <br />
  <a href="/">Click to return to game.</a>
</p>
<p>
  <form action="/highscores" method="get">
    <label for="name">Name</label><br /> 
    <input id="name" name="name" size="30" type="text" />
    <input id="submit" type="submit" value="Filter" />
  </form>
</p>
<table>
  <tr>
    <th style="width:350px;text-align:left">Name</th>
    <th>Score</th>
  </tr>

<% @highscores.each do |highscore| %>
  <tr>
    <td><%=h highscore.name %></td>
    <td><%=h highscore.score %></td>
  </tr>
<% end %>
</table>

<br />
<a href="/">Click to return to game.</a>